<!DOCTYPE html>
<html>
<head>
    <title>schedules </title>
</head>
<body>
    <h1>Create Schedule</h1>
    <form method="post">
      {% csrf_token %}
      <label for="event">Event:</label>
      <select name="event" id="event">
        {% for event in Event %}
          <option value="{{ event.id }}">{{ event.title }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="start_time">Start Time:</label>
      <input type="datetime-local" name="start_time" id="start_time">
      <br>
      <label for="end_time">End Time:</label>
      <input type="datetime-local" name="end_time" id="end_time">
      <br>
      <label for="topic">Topic:</label>
      <input type="text" name="topic" id="topic">
      <br>
      <label for="speaker">Speaker:</label>
      <select name="speaker" id="speaker">
        <option value="">None</option>
        {% for speaker in speakers %}
          <option value="{{ speaker.id }}">{{ speaker.name }}</option>
        {% endfor %}
      </select>
      <br>
      <button type="submit">Create Schedule</button>
    </form>
</body>
</html>
