<!DOCTYPE html>
<html>
<head>
    <title>Payments by Participant</title>
</head>
<body>
    <h1>Payments by Participant</h1>
    <table>
        <tr>
            <th>Participant Name</th>
            <th>Event</th>
            <th>Amount Paid</th>
            <th>Payment Method</th>
            <th>Payment Date</th>
            <th>Transaction ID</th>
            <th>Payment Status</th>
        </tr>
        {% for payment in payments %}
           <tr>
               <td>{{ payment.participant.name }}</td>
               <td>{{ payment.event.title }}</td>
               <td>{{ payment.amount_paid }}</td>
               <td>{{ payment.payment_method }}</td>
               <td>{{ payment.payment_date }}</td>
               <td>{{ payment.transaction_id }}</td>
               <td>{{ payment.payment_status }}</td>
           </tr>
        {% endfor %}
    </table>
</body>
</html>