<!DOCTYPE html>
<html>
<head>
    <title>Speaker details</title>
</head>
<body>
    <h1>Speaker Details</h1>
   
    <p><strong>Name:</strong> {{ speaker.name }}</p>
    <p><strong>Biography:</strong> {{ speaker.Bio }}</p>
    <p><strong>Email Address:</strong> {{ speaker.email }}</p>
    <p><strong>Phone Number:</strong> {{ speaker.phone }}</p>
    <p><strong>Social Media Links:</strong></p>
    <ul>
      {% if speaker.linkedin %}
        <li><a href="{{ speaker.linkedin }}">LinkedIn</a></li>
      {% endif %}
      {% if speaker.twitter %}
        <li><a href="{{ speaker.twitter }}">Twitter</a></li>
      {% endif %}
    </ul>
</body>
</html>
